name: Continuous Integration Pipeline

on:
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:6.0
        ports:
          - 27017:27017
        options: >-
          --health-cmd mongo
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm i

      - name: Check code formatting
        run: npm run format:diff

      - name: Lint code
        run: npm run lint:check

      - name: Run TS type check
        run: npm run typecheck

      - name: Build project
        run: npm run build

      - name: Run tests
        run: npm run test
        env:
          NODE_ENV: test
          DB_SRV: mongodb://localhost:27017/beer-shop-ai-test
          CLIENT_URL: ${{ secrets.CLIENT_URL}}

          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          GOOGLE_CALLBACK_URL: ${{ secrets.GOOGLE_CALLBACK_URL }}

          JWT_ACCESS_TOKEN_SECRET: ${{secrets.JWT_ACCESS_TOKEN_SECRET}}
          JWT_ACCESS_TOKEN_EXPIRES_IN: 1d
          JWT_REFRESH_TOKEN_SECRET: ${{secrets.JWT_REFRESH_TOKEN_SECRET}}
          JWT_REFRESH_TOKEN_EXPIRES_IN: 1d

          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}

      # Цей крок перевіряє, що назва PR відповідає стандарту.
      - name: Validate PR title
        if: github.event_name == 'pull_request'
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
